body {
    margin: 0;
    font-family: system-ui;
    background-color: rgb(27, 27, 27);
}

.btn-group {
    position: absolute;
    right: 0;
}

.btn {
    background-color: transparent;
    color: white;
    border: none;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 10px;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:hover {
    background-color: transparent !important;
    color: white !important;
}

.dropdown-menu {
    padding: 5px;
}

.dropdown-menu a {
    text-decoration: none;
    color: black;
}

.top-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27)
}

.intro {
    text-align: left;
    color: black;
}

.intro h1 {
    font-size: 60px;
    color: white;
    font-weight: 700;
}

.top-div h2{
    color: #D13639;
    font-weight: 600;
    padding-left: 5px;
}

.intro span {
    padding-left: 2px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

#portrait-border {
    margin-left: 10%;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}


@keyframes morph {
    0% {
              border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
              background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
      }

      50% {
              border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
              background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
      }

      100% {
          border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
          background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
      }
  }

#selfiecopy {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    outline: 4px solid white;
    height: 300px;
    transition: all 1s ease-in-out;
    width: 220px;
    z-index: 5;
}

#about {
    background-color: rgb(27, 27, 27);
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
}

#about-background {
    background: radial-gradient(#0A2327, #0A0A0A);
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
}

#about h1 {
    color: white;
    padding-top: 100px;
    font-weight: 700;
}

#about-para {
    display: flex;
    color: white;
    width: 100%;
    margin-top: 50px;
    padding-left: 33%;
    padding-right: 33%;
    font-size: 20px;
}

#tools {
    outline: .5px solid #D4D6F2;
    box-shadow: 0px 1px 3px grey;
    border-radius: 10px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(500px, auto);
    gap: 40px;
    justify-content: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#column1 {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    padding: 50px 10px 50px 10px;
}

#code_symbol {
    height: 50px;
    width: 50px;
}

.background-circle {
    background-color: #135964;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    align-items: center;
    align-content: center;
    padding: 10px;
}

#columnh2 {
    margin-top: 50px;
    font-size: 20px;
    color: #135964;
    font-weight: 700;
}

#tool-list {
    list-style: none;
}

#tools-title {
    margin-top: 50px;
    font-size: 20px;
    color: #135964;
    font-weight: 700;
}

.projectsTitle {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: radial-gradient(#0A2327, #0A0A0A);
    justify-content: center;
    padding: 5%;
}

.project-image {
    padding: 20px;
    width: fit-content;
    display: flex;
}

.project-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.project-box {
    border-radius: 6px;
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.project-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
}

.project-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }

.project-box:hover {
    cursor: pointer;
}

.caption > p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 0.5;
}

@media only screen and (max-width: 768px) {
    .top-div {
        flex-direction: column;
    }

    .projects {
        flex-direction: column;
    }

    .top-div  {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        text-align: center;
    }

    .top-div h1,
    .top-div h2 {
        text-align: center;
    }

    .projects {
        padding: 0;
    }

}
